/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* Add your custom styles here... */


/* Content width box 970 */
.fl-page-header-wrap {
    padding: 20px 0;
}
a.bbb-logo-header {
    display: none;
}
nav.fl-page-nav.fl-nav.navbar.navbar-default.navbar-expand-md {
    text-align: center;
}

body{
    position: relative;
}
.max-970 {
    max-width: 970px;
    margin: 0 auto;
}
.main-imgs img{
    height: 450px !important;
}
.max-1200 {
    max-width: 1200px;
    margin: 0 auto;
}

a:focus,
button:focus {
    outline: none !important;
}

a.fl-button {
    border-radius: 0 !important;
    color: #fff !important;
    text-transform: uppercase;
}
#gform_17 .gform_footer > input[type='submit'],
#gform_18 .gform_footer > input[type='submit'],
#gform_19 .gform_footer > input[type='submit'],
#gform_20 .gform_footer > input[type='submit'],
#gform_16 .gform_footer > input[type='submit'] {
    width: 100% !important;
    line-height: 30px !important;
    border-radius: 5px !important;
    margin: 0px !important;
    font-size: 16px !important;
}
.contact_info > strong{
    margin-bottom: 10px;
    line-height: 2 !important;
}
.location-logo .location-logo-wrap {
    position: relative;
    z-index: 1;
}
.location-logo .location-logo-wrap .maplogo{
    position: absolute;
    top: 79%;
    left: 0%;
    z-index: 1;
}
.coll-out-sec .fl-callout-photo-right .fl-callout-photo,
.coll-out-sec .fl-callout-photo-left .fl-callout-photo{
    width: 38%;
}
li.hide-label  > label{
    display: none !important;
}
.heading-phone-no .fl-rich-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.heading-phone-no .fl-rich-text .storename{
    padding: 0 0 0 5px;
}
.storename{
    padding: 0px;
}
.cat_style_head {
    color: #f26322 !important;
}
a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button {
    background-color: #F26322 !important;
    color: #ffffff !important;
    border: 1px solid #F26322 !important;
}

a.fl-button:hover,
.fl-builder-content a.fl-button:hover {
    background: #152B3A !important;
    border: 1px solid #152B3A !important;
}

.fl-button-text {
    color: #fff !important;
}

.btn-grey a.fl-button,
.btn-grey a.fl-button:visited,
.btn-grey .fl-builder-content a.fl-button {
    background: #908C7B !important;
    color: #ffffff !important;
    border: 1px solid #908C7B !important;
}

.btn-grey a.fl-button:hover,
.btn-grey .fl-builder-content a.fl-button:hover {
    background: rgba(144, 140, 123, 0.90) !important;
    border: 1px solid rgba(144, 140, 123, 0.90) !important;
}

.btn-white a.fl-button,
.btn-white a.fl-button:visited,
.btn-white .fl-builder-content a.fl-button {
    background: #fff !important;
    color: #554E46 !important;
    border: 1px solid #554E46 !important;
}

.btn-white a.fl-button:hover,
.btn-white .fl-builder-content a.fl-button:hover {
    background: rgba(85, 78, 70, 0.10) !important;
    border: 1px solid rgba(85, 78, 70, 0.10) !important;
}

.btn-white .fl-button-text {
    color: #554E46 !important
}

.btn-ltblue a.fl-button,
.btn-ltblue a.fl-button:visited,
.btn-ltblue .fl-builder-content a.fl-button {
    background: #84A3B8 !important;
    color: #ffffff !important;
    border: 1px solid #84A3B8 !important;
}

.btn-ltblue a.fl-button:hover,
.btn-ltblue .fl-builder-content a.fl-button:hover {
    background: rgba(132, 163, 184, 0.90) !important;
    border: 1px solid rgba(132, 163, 184, 0.90) !important;
}

.btn-blue a.fl-button,
.btn-blue a.fl-button:visited,
.btn-blue .fl-builder-content a.fl-button {
    background: #152B3A !important;
    color: #ffffff !important;
    border: 1px solid #152B3A !important;
}

.btn-blue a.fl-button:hover,
.btn-blue .fl-builder-content a.fl-button:hover {
    background: #F26322 !important;
    border: 1px solid #F26322 !important;
}

.breadcrumbs {
    font-size: 90% !important;
    margin-top: 20px;
}


/* Carousel dots over top of slide */

@media only screen and (min-width: 768px) {
    .bx-wrapper .bx-pager {
        padding: 0;
    }
    .bx-wrapper .bx-controls-auto,
    .bx-wrapper .bx-pager {
        bottom: 20px !important;
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        background: #dedede;
    }
}

.white-text {
    color: #ffffff !important;
}

.white-text h1,
.white-text h2,
.white-text h3 {
    color: #ffffff !important;
}


/* Home Main Carousel */

.home-main-carousel .fl-slide-text h3 {
    font-size: 3.4em;
    line-height: 1em;
}

.home-main-carousel .fl-slide-0 .fl-slide-cta-button {
    padding-top: 0 !important;
}

.home-main-carousel .fl-slide-cta-button {
    margin-top: 15px;
}

.zone-3 h2,
.zone-3 h3,
.zone-3 p {
    margin: 0 !important;
    padding: 0 !important;
}

.zone-3 {}

.zone-3 h2 {
    font-size: 3.4em;
    line-height: 1em;
    font-weight: 300;
}

.zone-3 h3 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1em;
}

.zone-3 p {
    font-size: 1.8em;
    line-height: 1.5em;
    padding-top: 10px !important;
}

.fl-content-slider-navigation .slider-prev {
    left: 0px;
    background: #84A3B8;
    padding: 10px;
}

.fl-content-slider-navigation .slider-next {
    right: 0px;
    background: #84A3B8;
    padding: 10px;
}

@media(max-width:768px) {
    .home-main-carousel {
        margin-top: 0;
    }
	body div.changeLocation .closebtn{
		    top: 30px !important;
	}
    /* .home-main-carousel.fl-module-content-slider .fl-slide-cta-button {
        text-align: left;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-text {
        text-align: left;
    } */
    .fl-tabs-horizontal .fl-tabs-label{
        display: flex;
        align-items: center;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-text h3 {
        line-height: 1em !important;
        font-size: 2.7em !important;
        margin-top: 50px !important;
    }
    .home-main-carousel .fl-slide-mobile-photo {
        display: none !important;
    }
    .home-main-carousel .fl-slide-content {
        background-color: transparent !important;
    }
    .home-main-carousel .fl-content-slider .fl-slide-bg-photo {
        position: absolute !important;
    }
/*     .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-content {
        height: 350px;
    } */
    .home-main-carousel.fl-module-content-slider .fl-slide img {
        display: block;
        margin: auto;
        max-width: 300px;
    }
	 .fl-content-slider .fl-slide.fl-slide-4,
	.fl-content-slider .fl-slide.fl-slide-5,
	.fl-content-slider .fl-slide.fl-slide-6,
	.fl-content-slider .fl-slide.fl-slide-7,
	.fl-content-slider .fl-slide.fl-slide-8{
		min-height: 500px !important;
		display: flex;
		align-items: center;
	}
	.fl-slide-photo-wrap{
		display: block !important;
	}
	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
		padding: 0 !important;
	}
    .home-main-carousel.fl-module-content-slider .bx-wrapper {}
    .home-main-carousel .fl-module-content>* {}
    /* .home-main-carousel .fl-content-slider-navigation {
        display: none;
    } */
    .home-main-carousel .bx-wrapper .bx-pager a {
        padding: 5px;
        display: block;
    }
    .home-main-carousel .fl-button {
        font-size: 12px !important;
    }
}


/* Nav 1 Mega Menu */

.fl-page-nav-right .fl-page-nav-wrap a,
.fl-page-nav-right .fl-page-nav-wrap a * {
    color: #fff !important;
}

.fl-page-nav-wrap .navbar-nav>li>a {
    font-weight: 400;
    color: #fff !important;
    font-size: 13px;
    text-transform: uppercase;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu {
    border: none;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu a {
    color: #fff !important;
}

.yawp_wim_title {
    display: none;
}

@media screen and (min-width: 992px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu {
        border: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 18.5%;
        float: left;
        border-color: white;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li a {
        padding: 5px;
        color: #fff !important;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li.menu-item-type-yawp_wim {
        width: 26%;
        margin-bottom: -70px;
        clear: right;
    }
}

@media screen and (max-width: 991px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu li>ul.sub-menu {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        display: none;
    }
    .fl-page-nav-right .fl-page-nav-cart {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 50%;
        display: block;
        float: left;
        border-color: transparent;
    }
}

@media (min-width: 992px) {
    .fl-page-nav-right .fl-page-nav ul.navbar-nav {
        float: none !important;
        margin-left: 0;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu {
        margin-left: -60%;
        text-align: center;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li {
        border-bottom: 1px solid #EEEEEE;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li:last-child {
        border: 0px;
    }
}

@media screen and (max-width: 768px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 100%;
        float: none;
        display: block;
        border-color: #e6e6e6;
    }
}

.fl-page-nav-right .fl-page-nav-search {
    float: right;
    position: relative;
    margin-left: 10px;
}

.fl-page-nav-right .fl-page-nav-cart {
    float: right;
    position: relative;
    font-size: 20px;
    padding: 8px 15px 8px 60px;
}

.fl-page-nav-search form input.fl-search-input {
    background-color: #fff;
    border-color: #274f6b;
    color: #263850 !important;
}

.fl-page-nav-search form {
    border-top: 0px solid #a1c5e5;
    display: none;
    padding: 40px;
    position: absolute;
    right: -40px;
    top: 64px;
    width: 1040px;
}

@media screen and (max-width: 1099px) {
    .fl-page-nav-search form {
        background-color: #767676;
        border-top: 0px solid #a1c5e5;
        display: none;
        padding: 40px;
        position: absolute;
        right: 0;
        top: 65px;
        width: 100%;
    }
}
@media (min-width: 1024px) and (max-width: 1098px) {
    .fl-page-nav-search form {
        width: 600px;
    }
}


/* Slick slider */

.slick-slide {
    opacity: .4;
}

.slick-center {
    opacity: 1;
}

.wpsisac-slick-carousal button.slick-prev,
.wpsisac-slick-carousal button.slick-prev:hover,
.wpsisac-slick-carousal button.slick-prev:focus {
    background: rgba(132, 163, 184, 0.7) url(images/left.png) center center no-repeat !important;
    background-size: 19px 28px !important;
    outline: none !important;
}

.wpsisac-slick-carousal button.slick-next,
.wpsisac-slick-carousal button.slick-next:hover,
.wpsisac-slick-carousal button.slick-next:focus {
    background: rgba(132, 163, 184, 0.7) url(images/right.png) center center no-repeat !important;
    background-size: 19px 28px !important;
    outline: none !important;
}

.wpsisac-slick-carousal button.slick-arrow {
    width: 51px;
}

.wpsisac-slick-carousal.design-6 .slick-dots {
    left: 15px !important;
    right: 15px;
    text-align: center;
    bottom: -40px !important;
}

.slick-dots li button {
    background: #fff !important;
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
    border-radius: 50% !important;
    width: 13px !important;
    height: 13px !important;
}

.slick-image-slide-wrap {
    position: relative;
}

.caption-content {
    float: left;
    margin-top: -60px;
    position: relative;
    z-index: 500;
    margin-left: 30px;
    font-size: 16px;
    color: #fff;
}


/* Tabs 1 */

.tabs-1 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-1 .fl-tabs-label {
    border-color: transparent !important;
    width: 25%;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.fl-tabs-panel-content .row {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
}

.tabs-1 .fl-row-fixed-width,
.tabs-1 .fl-row-content-wrap {
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.tabs-1 .fl-tabs-panel-content {
    padding: 0;
    margin: 0;
    width: 100%;
}

.tabs-1 .fl-tabs-panels,
.tabs-1 .fl-tabs-panel {
    border: none;
}

.fl-tabs-labels .fl-tabs-label {
    outline: none !important;
}


/* Tabs */

.tabs-2 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-2 .fl-tabs-label {
    border-color: transparent !important;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.tabs-2 .fl-tabs-labels {
    max-width: 82%;
    margin: 0 auto;
    text-align: center;
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-3 .fl-tabs-label {
    max-width: 33%;
    margin: 0 auto;
    text-align: center;

}

.tabs-3.four .fl-tabs-label {
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
}
.fl-tabs-panel-label span{
    display: inline-block;
}
@media screen and (max-width: 768px) {
    .tabs-3 .fl-tabs-label {
        max-width: 100%;
        white-space: nowrap;
    }
}

.tabs-3 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 70%;
    position: absolute;
    left: 15%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #F26322;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
    padding-bottom: 20px;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-3 .fl-tabs-labels {
    max-width: 970px !important;
    margin: 0 auto;
}

.tabs-3 .fl-tabs-panel-content {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #F9F9F9 !important;
}

.tabs-3 .fl-tabs-panel-content .row {
    max-width: 970px;
    margin: 0 auto;
    padding: 30px;
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-4 .fl-tabs-label {
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
}

.tabs-4 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #F26322;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-products h2 {
    font-size: 1.5em;
}


/* Category Boxes */

.cat-boxes a {
    font-weight: 400 !important;
}


/* Carousel 2 */

.carousel-2 .fl-content-slider-navigation path {
    fill: #767676;
}

.carousel-2 .bx-wrapper .bx-pager.bx-default-pager a.active,
.carousel-2 .bx-wrapper .bx-pager.bx-default-pager a:focus,
.carousel-2 .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #767676;
}


/* lightbox */

.fl-button-lightbox-wrap .mfp-content {
    background: transparent !important;
}

.mfp-wrap.fl-button-lightbox-wrap .mfp-close,
.mfp-wrap.fl-button-lightbox-wrap .mfp-close:hover {
    color: #fff !important;
    right: -4px;
    top: -24px !important;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.0);
    background: transparent !important;
}


/* Mega Menu ShortCode */

header .fl-row-content {
    position: relative;
}

@media(min-width:1024px) {
    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::before {
        content: '';
        position: absolute;
        right: -5px;
        top: 50%;
        z-index: 1;
        display: block;
        width: 9px;
        height: 9px;
        margin: -5px 2px 0 0;
        border-right: 2px solid;
        border-bottom: 2px solid;
        -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: translateX(-5px) rotate(45deg);
        -ms-transform: translateX(-5px) rotate(45deg);
        transform: translateX(-5px) rotate(45deg);
        border-color: #767676;
    }
    .style-product_list .pro-container>.row>.col-md-7{
        flex: 0 0 57.33333%;
        width: 57.33333%;
    }
    .style-product_list .pro-container>.row>.col-md-5{
        flex: 0 0 41.66667%;
        width: 41.66667%;
    }
     .style-product_list .pro-container .pro-details .button-wrapper a.button{
        min-width: auto;
        width: auto;
    }
}

.sc_mega_menu .navbar-nav>li>a {
    padding: 15px 13px;
}

.sc_mega_menu ul.sub-menu li li a {
    margin: 0px;
}

.sc_mega_menu .fl-page-nav-wrap {
    border: 0px;
}

.textwidget a.acc_banner_link {
    padding: 0 !important;
}

@media(max-width:1024px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 8px;
    }
}

@media(max-width:900px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 0px;
    }
}


/* Mega Menu Full width */

@media (min-width: 768px) {
    .style-product_list .pro-container .pro-details .button-wrapper a.button{
        width: 49%;
    }
    ul.navbar-nav li.mega-menu ul.sub-menu {
        border-top: 5px solid #BBA558;
    }
    /*This is just removing some default styles(not required)
    .fl-page-nav UL.sub-menu
    {
        padding: 10px 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;
    }*/
    .fl-page-nav ul.sub-menu {
        background-color: #fff !important;
    }
    .fl-page-nav-wrap .navbar-nav>li>ul.sub-menu a {
        color: #263850 !important;
    }
    ul.sub-menu>li {
        border-bottom: none !important;
        text-align: left;
    }
    .navbar-nav>li.menu-item-has-children:hover::before {
        content: "▲";
        color: #fff;
        position: absolute;
        z-index: 1001;
        bottom: -5px;
        left: 45%;
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.05);
        -webkit-transform: scale(1.5, 1);
        /* Safari and Chrome */
        -moz-transform: scale(1.5, 1);
        /* Firefox */
        -ms-transform: scale(1.5, 1);
        /* IE 9 */
        -o-transform: scale(1.5, 1);
        /* Opera */
        transform: scale(1.5, 1);
        /* W3C */
    }
    UL.navbar-nav LI.mega-menu>UL.sub-menu:after {
        content: "";
        display: block;
        position: absolute;
        left: auto;
        top: -1px;
        height: 100%;
        width: auto;
        transform: translateX(-50%);
        z-index: -1;
        box-sizing: border-box;
        /*These styles are replacing the BB style that are being over written above (not required)*/
        border-top: 1px solid #DEDEDE;
        /*+box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);*/
        -moz-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        background-color: #fff;
    }
    .sc_mega_menu {
        margin-top: 10px;
    }
    .sc_mega_menu .mega-menu .sub-menu {
        left: 0px !important;
        position: relative;
    }
    .sc_mega_menu .navbar-nav>li.menu-item-has-children:hover::before {
        content: "▲";
        color: #BBA558;
        position: absolute;
        z-index: 1001;
        bottom: -5px;
        margin-left: 40%;
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.05);
        -webkit-transform: scale(1.5, 1);
        /* Safari and Chrome */
        -moz-transform: scale(1.5, 1);
        /* Firefox */
        -ms-transform: scale(1.5, 1);
        /* IE 9 */
        -o-transform: scale(1.5, 1);
        /* Opera */
        transform: scale(1.5, 1);
        /* W3C */
    }
    .sc_mega_menu .navbar-nav>li.mega-menu.menu-item-has-children:hover::before {
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.1);
    }
    .sc_mega_menu .navbar-nav>li.menu-item-23.menu-item-has-children:hover::before {
        margin-left: 80px;
    }
    .sc_mega_menu ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(3) {
        border: 0px;
    }
    .sc_mega_menu ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        margin-bottom: -55px;
        border: 0px;
        padding: 0 !important;
    }
    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 50px;
    }
}



/* Web Forms */

.web-form input {
    border-radius: 0 !important;
}

.web-form .gform_body label {
    font-weight: 400 !important;
    color: #fff !important;
}

.web-form .gform_footer {
    text-align: center !important;
}

.web-form .button {
    padding: 10px 30px;
    color: #fff !important;
    border: none !important;
}

.web-form .gform_wrapper div.validation_error {
    color: #790000 !important;
}

.web-form .textarea {
    border-radius: 0 !important;
    max-height: 120px;
}

.web-form select {
    padding: 5px !important;
}

.web-form .ginput_container_time select {
    padding: 0 !important;
}

body .gform_wrapper .gform_body .gform_fields .gfield select {
    border: 1px solid #e6e6e6;
    background-color: #FCFCFC !important;
}

.ui-datepicker-title {
    color: #333;
}

.web-form button,
.web-form input[type=button],
.web-form input[type=submit] {
    background: #263850 !important;
    border: none;
}

.web-form button:hover,
.web-form input[type=button]:hover,
.web-form input[type=submit]:hover {
    background: #263850 !important;
    border: none;
}

.web-form select {
    padding: 8px !important;
}

.web-form a {
    color: #152B3A !important;
    font-weight: 700 !important;
}

.form-terms label.gfield_label {
    display: none !important;
}

.msg-terms {
    font-size: 85%;
}

/* @media (max-width: 768px) {
    .gform_wrapper input.large,
    .gform_wrapper input.medium,
    .gform_wrapper input.small,
    .gform_wrapper select.large,
    .gform_wrapper select.medium,
    .gform_wrapper select.small {
        max-width: 95%;
    }
} */


/* 500 Coupon Page */

.coupon h2 {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 300;
}

.coupon h1 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.coupon h3 {}

.coupon h4 {
    font-size: 1.2em;
    font-weight: normal;
}


/* Default Form Page */

.default-form h2 {
    font-size: 2.8em;
    line-height: 1em;
    font-weight: 300;
}

.default-form h1 {
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.default-form h3 {}

.default-form h4 {
    font-size: 1.2em;
    font-weight: normal;
}


/*Tabs Grey */


/* .tabs-grey .fl-tabs-panels {background-color: #FBFBFB !important;} */


/* Window Coverings */

.window-categories {
    font-size: 90%;
}

.window-categories h4 {
    font-size: 1.2em !important;
}

.window-categories a {
    font-weight: 700;
    font-size: 90%;
}


/*Project Gallery */

.project-gallery .fl-photo-caption-below {
    text-align: left !important;
}


/* Reviews */

.reviews h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.reviews img {
    margin: 0;
    padding: 0 0 5px 0;
}


/* product row */

.product-row h4,
.product-row h5 {
    font-weight: 300;
    text-transform: uppercase;
}

.product-row h3 {
    text-transform: uppercase;
}


/* Product Grid */

.swatch-thumb {
    max-height: 238px;
    overflow: hidden;
}

.swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid.swatch {
    text-align: center;
}

.product-grid.rooms {
    text-align: left;
}

.product-grid.featured {
    text-align: center;
}

.product-grid.swatch h2 {
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.swatch h4 {
    font-size: 10px;
    margin: 5px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid.rooms h2 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.rooms h4 {
    font-size: 10px;
    margin: 5px 0 5px 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.strike-price {
    color: #929292;
    text-decoration: line-through !important;
    margin-right: 10px;
}

.sale-price {
    font-weight: 700;
    color: #212121;
}

.product-grid.featured h2 {
    font-weight: 700;
    margin: 0 0 15px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.featured h4 {
    font-size: 10px;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid .fl-button {
    margin-bottom: 10px;
}

.product-grid .fl-button-text {
    font-size: 12px;
}

.product-grid a {
    text-decoration: none;
    font-size: 13px;
}

.product-grid a.link {
    color: #929292;
}

.product-grid a.link:hover {
    text-decoration: underline;
    color: #929292;
}

.product-grid a.greylink {
    color: #908c7b;
}

.product-grid a.greylink:hover {
    text-decoration: underline;
    color: #908c7b;
}

.product-grid .swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid .fl-post-grid-post {
    margin-bottom: 40px;
}

.product-box {
    text-align: left;
    padding: 2rem 2rem 3.5rem 2rem;
}

.product-box a.fl-button {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 180px !important;
    display: block;
    text-align: center;
}

.product-box a.fl-button:hover {
    text-decoration: none;
}

.product-box a.fl-button.btn-white {
    background-color: transparent !important;
    border-color: #554E46 !important;
}

.product-colors ul {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
}

.product-colors ul li {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.product-colors ul li.found {
    font-size: 5rem;
    padding-right: 15px;
    font-weight: 300;
}

.product-atts ul {
    margin: 40px 0 0 0;
    padding: 0;
    color: #008c8c;
}

.product-atts ul li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-box h1 {
    margin: 0 0 0 0;
    padding: 0;
    text-transform: none;
    font-weight: 700;
}

.product-box h2 {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 1.8rem;
}

.product-atts a.fl-button {
    padding: 10px 40px;
}

.product-swatch {
    text-align: center;
}

.product-swatch .img-responsive {
    background-size: cover;
    background-position: center;
}

/* .product-swatch .img-responsive img {
    visibility: hidden;
} */

.product-variations {
    margin: 80px 0 50px 0;
}

.product-variations img {
    width: 100%;
    height: auto;
}

.product-attributes {
    text-transform: capitalize;
    margin-bottom: 80px;
    margin-top: 60px;
}

img.product-logo {
    max-width: 140px;
    height: auto;
    margin-bottom: 15px;
}

.color-box {
    margin-bottom: 30px;
    line-height: normal;
    min-height: 180px;
}

.color-box small {
    font-size: 80%;
}

.product-brand {
    text-transform: uppercase;
    font-size: 0.85em;
    margin-bottom: 0;
    min-height: 20px;
    letter-spacing: 2px;
}

.faceted_results {
    margin-top: 20px;
}


/* TOGGLE BOX BOTTOM */

.fr_toggle_box {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.fr_toggle_box .bg {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.fr_toggle_box .box_content {
    background-color: white;
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    display: none;
}

.fr_toggle_box .handle {
    background-color: #383838;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: -66px;
    cursor: pointer;
}

.fr_toggle_box.active .handle i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fr_toggle_box .box_content table {
    width: 100%;
    table-layout: fixed;
}

.fr_toggle_box .padding {
    padding: 40px;
}

.fr_toggle_box .box {
    width: 100%;
    height: 100%;
    min-height: 275px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.fr_toggle_box .box_white {
    border: 0px solid #212121;
    color: #212121;
}

.fr_toggle_box .box_red {
    background-color: #C92830;
    color: white;
}

.fr_toggle_box .box * {
    color: inherit;
}

.fr_toggle_box td {
    padding: 0px 20px;
}

[data-fr-link] {
    cursor: pointer;
}

.fr_toggle_box .fixed_bottom {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.fr_toggle_box .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
}

.fr_toggle_box .box_red .fl-button {
    background-color: white !important;
    color: #cc252a !important;
}

.fr_toggle_box .text {
    padding: 40px 0px 0px;
}

.fr_toggle_box .text * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fr_toggle_box .text h2 {
    font-size: 45px;
}

.fr_toggle_box .text p {
    margin-top: 10px;
}


@media(max-width:1024px) {
    .fr_toggle_box {
        display: none;
    }
}
.fl-page-bar .storename .phone span{
	color: #fff !important;
}

/* .toggle-image-thumbnails {
    position: absolute;
    bottom: 20px;
    left: 40px;
    z-index: 5;
} */
.toggle-image-thumbnails a.arrow.prev {
    margin-left: 20px !important;
}
.toggle-image-thumbnails a {
    border: 3px solid white;
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
    transition: All 0.5s ease;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    z-index: 1;
}

.toggle-image-thumbnails a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.fr-slider {
    position: relative;
}

.fr-slider .arrow {
    position: absolute;
    font-size: 30px;
    color: #212121;
    z-index: 2;
    height: 130px;
    line-height: 130px;
    text-align: center;
    width: 30px;
    float: left;
}

.fr-slider .arrow.prev {
    left: -20px;
}

.fr-slider .arrow.next {
    right: -20px;
}

.fr-slider .slides {
    margin: 0px 10px;
}

.fr-slider .slide {
    padding: 0px 7px;
}

/* RABY */

.fl-social-icons {
    float: right;
    margin-top: -60px;
}

.fl-social-icons a {
    color: #84A3B8;
}

.fl-social-icons a:hover {
    color: #84A3B8;
}

.cat-boxes .fl-row-content {
    max-width: 970px;
    margin: 0 auto;
}

ul#menu-top-bar-menu li a {
    text-transform: uppercase;
    font-size: 90%;
}

@media (max-width: 768px) {
    ul#menu-top-bar-menu {
        display: none;
    }
    .responsive-menu-accessible.is-active{
        position: fixed !important;
        background: #152b3a !important;
    }
    .fl-social-icons {
        float: none;
        clear: both;
        margin: 0 auto;
    }
    .fr-slider .arrow {
        height: 80px;
        line-height: 80px;
    }
    .header-boxed-1 .fl-slide-content-wrap {
        padding: 0px;
    }
    .tab-section .fl-tabs div.fl-tabs-labels{
        display: none;
    }
}
@media (max-width: 767px) {
    ul#menu-footer-menu-1 li{
        padding: 5px 15px !important;
    }
    ul#menu-footer-menu-1{
        margin-left: 0 !important;
        text-align: center;
    }
    aside#text-2 div.textwidget{
        text-align: center;
    }
    .w-100 .uabb-photo-gallery .uabb-photo-gallery-item  {
        width: 100%;
    }
}

.coupon-form-box h3 {
    font-size: 1em !important;
    color: #263850;
}

.fl-page-footer-widgets {
    border: none;
    background-color: #152B3A;
    /* color: #000000; */
}

ul#menu-footer-menu-1 {
    margin-left: -20px;
}

ul#menu-footer-menu-1 li {
    display: inline-block;
    padding: 5px 20px;
}

ul#menu-footer-menu-1 li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9em;
}

.fl-page-footer-widgets .fl-widget {
    margin-bottom: 30px;
}

.fl-page-footer {
    font-size: 80%;
}

.fl-page-footer .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 5px;
}

.fl-page-footer .fl-page-footer-nav {
    margin: -10px -15px 10px;
}

footer .icon-box h4 {
    color: #F26322 !important;
}

footer .icon-box i {
    color: #152B3A !important;
}

footer .icon-box a h4:hover {
    color: #152B3A !important;
}

footer .icon-box a:hover {
    text-decoration: none !important;
}


/* modal */

.modal-content input[type=submit] {
    color: #fff !important;
    font-size: 16px;
    line-height: 18px;
    padding: 14px 28px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #F26322;
    border: 1px solid #F26322;
}

.modal-content input[type=submit]:hover {
    color: #fff !important;
    font-size: 14px;
    line-height: 18px;
    padding: 14px 28px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #F26322;
    border: 1px solid #F26322;
}

button.modal-button {
    color: #fff !important;
    font-size: 16px;
    line-height: 18px;
    padding: 14px 28px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #F26322;
    border: 1px solid #F26322;
}

button.modal-button:hover {
    color: #fff !important;
    font-size: 16px;
    line-height: 18px;
    padding: 14px 28px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #F26322;
    border: 1px solid #F26322;
}

.slick-image-slide-wrap img {
    width: auto;
    height: auto;
}

header+.fl-page-bar .text-center {
    text-align: right;
}

.bbb-logo-header {
    display: inline-block;
    vertical-align: top;
    order: 2;
}

.bbb-logo-header img {
    border: 0;
    height: 50px;
    margin: 0 0 0 15px;
}

.product-detail-layout-1 {
    padding-top: 30px;
}

.fl-page-bar .fl-page-bar-text .fa,
.fl-page-bar .fl-page-bar-text .storename{
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}
.fl-page-bar .fl-page-bar-text .storename{
    padding: 0 0 0 5px;
}

.product-detail-layout-1 .button-wrapper .button,
.product-detail-layout-5 .button-wrapper .button{
    background: #767676;
    border: 1px solid #767676;
    color: #fff;
}
.product-detail-layout-1 .button-wrapper .button:hover,
.product-detail-layout-5 .button-wrapper .button:hover{
    border-color: #767676;
    background: #fff;
    color: #767676;
}
.product-detail-layout-1 .button-wrapper a:not(.button),
.product-detail-layout-5 .button-wrapper a:not(.button){
    width: 100%;
    text-align: center;
    font-size: 13px;
    display: none;
}
.product-detail-layout-5 .button-wrapper .button{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
button#responsive-menu-button{
    top: 50px !important;
    right: 135px !important;
}
.gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox]{
        margin-top: 0px!important;
}
#product-images-holder.colorwall-exlusive-batch .img-responsive{
    background: auto!important;
}
@media(max-width:500px) {
    .product-attributes .table tr td, .product-attributes .table tr th{
        text-align: left!important;
    }
    .toggle-image-thumbnails a.arrow.prev{
            left: -40px;
            margin-left: 0px !important;
    }
    .toggle-image-thumbnails a.arrow.next{
            right: -42px;
    }
	.fl-content-slider-wrapper  .fl-slide  .fl-slide-photo{
		margin: 60px 0 !important;
	}
	.home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-text h3{
		font-size: 20px !important !important;
	}
    .fl-tabs-horizontal .fl-tabs-label.fl-tab-active {
        padding: 10px 15px;
        background: #f26322;
        color: #fff;
    }
    .tabs-3 .fl-tabs-label.fl-tab-active:after{
        display: none;
    }
    .tabs-3 .fl-tabs-label{
        border-bottom: 2px solid #F26322!important;
        width: 95%;
        color: #000;
    }
    button#responsive-menu-button {
        top: 38px !important;
    }
    .product-variations .slick-slider .slick-arrow {
        top: 15% !important;
    }
}
@media (max-width:1040px){
    .fl-page-nav .navbar-nav li>a{ padding-left: 6px; padding-right: 6px; }
}
@media (max-width:991px){
    .fl-page-nav-wrap{ border: 0; line-height: 0; height: 0; overflow: hidden;}
    .fl-page-nav-wrap a.bbb-logo-header { position: absolute; top: 20px; right: 20px;}
    .fl-page-nav-right .fl-page-header-logo{ text-align: left; padding-left: 0px; padding-right: 0px;}
    .fl-page-nav-right .fl-page-header-logo .fl-logo-img{ max-width: 100%; max-height: 55px !important; width: auto !important; }
}

@media (max-width:767px){
    .fl-page-nav-right .fl-page-nav-col .fl-page-nav-wrap .fl-page-nav-collapse{ display: block !important; visibility: visible !important;}
    .fl-page-nav-right .fl-page-header-logo{ margin-right: 180px !important;}
}
@media (max-width:568px){
    .fl-page-nav-right .fl-page-nav-col .fl-page-nav-wrap .fl-page-nav-collapse{ display: none !important; visibility: hidden !important;}
    button#responsive-menu-button{ right: 20px !important;}
}
@media (min-width:568px) and (max-width:667px){
    button#responsive-menu-button{
        right: 118px !important;
    }
}
@media(max-width:600px) {
    .fl-builder-content .fl-col-small.w-100{
        width: 100% !important;
    }
    .heading-phone-no .fl-rich-text {
        justify-content: start;
    }
    .heading-phone-no .fl-module-content{
        margin: 0px 20px;
    } 
    .fl-col-group-equal-height  .w-100:nth-child(2) .fl-col-content{
        padding-top: 0px;
    }
}



/* ip location css */
.locationWrapFlyer .contentFlyer{
	background-color: transparent;
    padding: 0px 20px 10px !important;
	margin-right: -20px;
    margin-top: -36px;

}
.locationWrapFlyer .contentFlyer {
    float:right;
    overflow: hidden!important;
}
.locationWrapFlyer .contentFlyer > div{
    width: 200px;    
	text-align: left;
}
.locationWrapFlyer .icons > i{
	background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #4a5259!important;
}
.locationWrapFlyer .icons > i:hover{
	cursor: pointer;
}
.locationWrapFlyer .contentFlyer h3{
	color: #4a5259!important;
	margin-top: 4px;	
}
.locationWrapFlyer{
	padding-right: 10px!important;
}
.locationWrapFlyer .contentFlyer h3{
    margin: 0px!important;
	color: #4a5259!important;
	margin-top: 4px!important;	
}
.locationWrapFlyer .contentFlyer p{
    margin: 0px!important;
}
.locationWrapFlyer .contentFlyer h5{
    margin: 0px!important;
    margin-top: 5px!important;
}
.locationWrapFlyer .contentFlyer .headeropenFlyer{
	letter-spacing: 0.6px;
    font-size: 13px;
}
 
.locationWrapFlyer .icons .ua-icon-map-pin:before {
    content: "\e914";
} 
.locationWrapFlyer .ua-icon {
    font-family: 'Ultimate-Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 .header_store {
    color: black;
    position: absolute;
    top: 52%;
    right: -20%;
    z-index: 99999;
	 word-break: break-all;
	 word-break: break-word;
} 
nav.fl-page-nav.fl-nav.navbar.navbar-default.navbar-expand-md ~ .header_store > .header_store{
	position: relative !important;
}
.fl-page-header-wrap {
    position: relative;
}
@media(max-width:1280px){
	.header_store{
		   right: -17%;
	}
}
@media(min-width:993px) and (max-width:1024px){
	.header_store {
		right: -3%;
		top: 150px;
	}
}
@media(max-width:768px){
	.header_store {
		right: 16%;
	}
	button#responsive-menu-button {
		top: 70px !important;
		right: 15px !important;
	}
}
@media(max-width:500px){
	.covid-banner {
    min-height: 220px;
    background-color: #cc252a;
    padding-top: 110px;
}
	.header_store {
		top: 165px;
		right: 12%;
	}
}


.changeLocation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 90%;
    max-width: 400px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    color: #ffff;
    z-index: 9999999;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgb(0 0 0 / 40%);
    box-shadow: 5px 5px 5px 6px rgb(0 0 0 / 40%);
    transition: all 0.6s;
}

.content .store-cta-link:before{
	content: "\f061";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
	margin-right: 4px!important;
}
#storeLocation .content a{
	color: #333!important;
    font-size: 14px!important; 
}	

#storeLocation .store-hour.phone{
	color: #333!important;
    font-size: 14px!important;

}
#storeLocation .title-prefix, .header_store .store-cta-link .title-prefix{
	font-size: 16px!important;
    font-weight: 900!important;
	font-family: "Josefin Sans",sans-serif;

}
#storeLocation .store_wrapper p, 
#storeLocation .store_wrapper h5, 
#storeLocation .store_wrapper a{
	font-family: "Josefin Sans",sans-serif;
	text-transform: uppercase;
}
.header_store .title-prefix > a {
	font-weight: 600;
}
.content .store_wrapper {
padding: 40px 20px;
border-bottom: 1px solid rgba(204,204,204,0.28);
    margin: auto;
}
.changeLocation .content {
	padding: 40px 20px;
}

.locationWrapFlyer {
    display: flex;
    justify-content: center;
}

.locationWrapFlyer .icons > i {
    font-size: 34px;
    color: #d4da5f!important;
}

.locationWrapFlyer .icons {
    padding: 0px 12px 12px 12px;
}

.locationWrapFlyer .contentFlyer > p, .contentFlyer  h3 {margin: 0px;}

.locationWrapFlyer .contentFlyer h3 {
    font-size: 14px;
    font-weight: 900;
}
.locationWrapFlyer a#openFlyer {
    font-size: 12px;
	    font-style: normal;
	color: #000 !important;
}
.locationWrapFlyer .contentFlyer h3{
    color: #000!important;
}

#storeLocation .store-hour{
	color: #000!important;
}
#storeLocation .content {

    width: 90%;
	margin: 0 auto;
}
.contentFlyer *{
	font-family: "Josefin Sans",sans-serif;
    text-transform: uppercase;

}   
.contentFlyer p{
    letter-spacing: 1px;
	line-height: 0.9em;
	    font-size: 15px;
	color: #000 !important;
}    


#storeLocation .store-hour{
    margin-top: 5px;    
}


.locationWrapFlyer .contentFlyer{
	background-color: transparent;
    padding: 20px 20px 10px;

}
.locationWrapFlyer .contentFlyer {
    float:right;
    overflow: hidden!important;
}
.locationWrapFlyer .contentFlyer > div{
    width: 200px;    
	text-align: left;
}
.locationWrapFlyer .icons > i{
	background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #4a5259!important;
}
.locationWrapFlyer .icons > i:hover{
	cursor: pointer;
}
.locationWrapFlyer .contentFlyer h3{
	color: #4a5259!important;
	margin-top: 4px;	
}
.locationWrapFlyer{
	padding-right: 10px!important;
}
.locationWrapFlyer .contentFlyer h3{
    margin: 0px!important;
	color: #4a5259!important;
	margin-top: 4px!important;	
}
.locationWrapFlyer .contentFlyer p{
    margin: 0px!important;
}
.locationWrapFlyer .contentFlyer h5{
    margin: 0px!important;
    margin-top: 5px!important;
}
.locationWrapFlyer .contentFlyer .headeropenFlyer{
	letter-spacing: 0.6px;
    font-size: 13px;
}
 
.locationWrapFlyer .icons .ua-icon-map-pin:before {
    content: "\e914";
} 
.locationWrapFlyer .ua-icon {
    font-family: 'Ultimate-Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.changeLocation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 90%;
    max-width: 400px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    color: #ffff;
    z-index: 9999999;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgb(0 0 0 / 40%);
    box-shadow: 5px 5px 5px 6px rgb(0 0 0 / 40%);
    transition: all 0.6s;
}


.content .store_wrapper{
	text-align: left!important;
}
.fl-page-bar #storeLocation *{
    color: #000!important;
}
div.locationWrapFlyer .contentFlyer h3,
div .locationWrapFlyer a#openFlyer,
div.locationWrapFlyer a#openFlyer,
div.locationWrapFlyer .contentFlyer p{
	color: #000000!important;
}
.locationWrapFlyer .contentFlyer p {
    margin-left: 12px !important;
}
div.locationWrapFlyer a#openFlyer{
	    margin-left: 14px;
}
.storename .phone span,
.storename .store-container .address p{
	color: #000000!important;
}

.storename,
.storename .store-container .address p{
	margin: 0px;
}
.content .view_location:before {
    content: "\f041";
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
    color: #000;
    margin-right: 4px!important;
}
#storeLocation .store_wrapper p, #storeLocation .store_wrapper h5, #storeLocation .store_wrapper a {
    font-family: "Josefin Sans",sans-serif;
    text-transform: uppercase;
    color: #000 !important;
}
.store_wrapper .title-prefix b{
    font-family: "Josefin Sans",sans-serif;
    text-transform: uppercase;
    color: #000 !important;
}

#storeLocation .store-hour{
    margin-top: 5px;    
}
h5.store-add {
    font-weight: normal;
}

.contentFlyer h3.title-prefix:before.contentFlyer h3.title-prefix:before {
    content: "\f041";
   
    font-size: 32px !important;
    display: inline-block;
    text-align: right;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -20px;
    padding-right: 15px;
    display: inline-block !important;
    color: #fff;
    margin-top: -27px !important;
    vertical-align: middle;
}

body div.changeLocation .closebtn {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 50px;
    margin-left: 20px;
    font-weight: 100;
    color: #9b9b9b!important;
}
.changeLocation .closebtn:hover{

color: #000;
}
#storeLocation .phoneIcon:before{
    text-indent: 0;
    content: "\f095";
    font: normal normal normal 18px/1 FontAwesome;
    margin-top: 2px;    
	color: #000;
}
div.locationWrapFlyer .contentFlyer h3, div .locationWrapFlyer a#openFlyer, div.locationWrapFlyer a#openFlyer, div.locationWrapFlyer .contentFlyer p {
    color: #fff !important;
}
div.locationWrapFlyer .contentFlyer h3, div .locationWrapFlyer a#openFlyer, div.locationWrapFlyer a#openFlyer, div.locationWrapFlyer .contentFlyer p {
    color: #fff !important;
}